@import 'tailwindcss';

/* @utility container {
	margin-inline: auto;
	padding-inline: 2rem;
} */

@layer utilities {
	.container {
		margin-inline: auto;
		padding-inline: 2rem;
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
